CREATE TABLE "user" (
    id SERIAL PRIMARY KEY,
    username VARCHAR(80) NOT NULL UNIQUE,
    password VARCHAR(200) NOT NULL,
    role VARCHAR(50) NOT NULL
);
CREATE TABLE repuesto (
    id_repuesto SERIAL PRIMARY KEY,
    nombre_repuesto VARCHAR(100) NOT NULL,
    descripcion TEXT,
    marca_repuesto VARCHAR(50),
    precio_compra REAL NOT NULL,
    precio_venta REAL NOT NULL,
    stock_actual INTEGER NOT NULL,
    stock_minimo INTEGER NOT NULL,
    ubicacion_fisica VARCHAR(100),
    modelos_compatibles TEXT
);
CREATE TABLE cliente (
    id_cliente SERIAL PRIMARY KEY,
    nombre_completo VARCHAR(100) NOT NULL,
    celular VARCHAR(20) NOT NULL,
    email VARCHAR(100)
);
CREATE TABLE vehiculo (
    id_vehiculo SERIAL PRIMARY KEY,
    id_cliente INTEGER NOT NULL REFERENCES cliente (id_cliente),
    patente VARCHAR(20) NOT NULL UNIQUE,
    marca VARCHAR(50) NOT NULL,
    modelo VARCHAR(50) NOT NULL,
    anio INTEGER,
    kilometraje INTEGER,
    notas_vehiculo TEXT
);
CREATE TABLE orden_trabajo (
    id_ot SERIAL PRIMARY KEY,
    id_vehiculo INTEGER NOT NULL REFERENCES vehiculo (id_vehiculo),
    fecha_ingreso TIMESTAMP NOT NULL,
    descripcion_trabajo TEXT NOT NULL,
    mecanico_asignado VARCHAR(100),
    valor_mano_obra REAL NOT NULL,
    fecha_entrega_real TIMESTAMP,
    valor_total_servicio REAL NOT NULL,
    estado VARCHAR(50) NOT NULL
);
CREATE TABLE detalle_ot (
    id_detalle_ot SERIAL PRIMARY KEY,
    id_ot INTEGER NOT NULL REFERENCES orden_trabajo (id_ot),
    id_repuesto INTEGER NOT NULL REFERENCES repuesto (id_repuesto),
    cantidad INTEGER NOT NULL,
    precio_unitario_al_momento REAL NOT NULL
);
CREATE TABLE venta (
    id_venta SERIAL PRIMARY KEY,
    fecha_venta TIMESTAMP NOT NULL,
    id_cliente INTEGER REFERENCES cliente (id_cliente),
    total_venta REAL NOT NULL,
    tipo_venta VARCHAR(50) NOT NULL,
    id_ot_asociada INTEGER REFERENCES orden_trabajo (id_ot),
    saldo_pendiente REAL NOT NULL
);
CREATE TABLE pago (
    id_pago SERIAL PRIMARY KEY,
    id_venta INTEGER NOT NULL REFERENCES venta (id_venta),
    monto REAL NOT NULL,
    metodo_pago VARCHAR(50) NOT NULL,
    descripcion VARCHAR(255),
    fecha_pago TIMESTAMP NOT NULL
);
CREATE TABLE detalle_venta (
    id_detalle_venta SERIAL PRIMARY KEY,
    id_venta INTEGER NOT NULL REFERENCES venta (id_venta),
    id_repuesto INTEGER NOT NULL REFERENCES repuesto (id_repuesto),
    cantidad INTEGER NOT NULL,
    precio_venta_unitario_al_momento REAL NOT NULL
);